.modal-1{
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: none;
    width: 20em;
    height: 7em;
}
.flex{
    display: flex;
    justify-content: center;
}
.modal-heading{
    font-size: 1.2em;
    padding-top: 2em;
}